<launch> 
  <arg name="use_sim_time" default="false" />

  <param name="/use_sim_time" value="$(arg use_sim_time)" /> <!--运行包建图时才设为true-->
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <!-- rplidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch">
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node name="cartographer_node" pkg="cartographer_ros"  
        type="cartographer_node" args="
	  -configuration_directory $(find cartographer_ros)/configuration_files 
	  -configuration_basename revo_lds.lua"  
        output="screen">  
    <remap from="scan" to="scan" />  
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
     type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"  
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
    
  <?ignore node name="base_to_laser_broadcaster" pkg="tf" type="static_transform_publisher" args="0. -0. 0. 0 0 0  base_link laser 10"/ ?>
<?ignore 0.115 -0.219 0.115 1.5708 0 0 ?>
</launch>

